# Elixir
**/env.exs
**/_build

# Python
**/__pycache__

# Java
**/*.class
**/*.log
**/*.ctxt
hs_err_pid*
replay_pid*

**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar

**/.idea/
**/*.iml
**/*.iws
**/*.ipr
**/out/

# Essentials

*.log
*.env