import Config

config :auth, :google_oauth,
  client_id: "YOUR_DEV_CLIENT_ID.apps.googleusercontent.com",
  client_secret: "YOUR_DEV_SECRET",

config :auth,
  :backend_authorization_token, "agsrgbbgadfaa" // dev key - does not work on prod safe to put here
