services:
  db_auth:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres_auth
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres_auth
    ports:
      - "5433:5432"
    volumes:
      - db_auth:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_auth -d postgres_auth"]
      interval: 5s
      timeout: 5s
      retries: 10

  db_backend:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres_backend
      POSTGRES_PASSWORD: password
      POSTGRES_DB: backend
    ports:
      - "5434:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_backend -d backend"]
      interval: 5s
      timeout: 5s
      retries: 10

  ocr:
    build:
      context: ../ocr
    ports:
      - "8000:8000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s

  backend:
    volumes:
      - ${HOME}/.aws:/root/.aws:ro,Z
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://db_backend:5432/backend
      SPRING_DATASOURCE_USERNAME: postgres_backend
      SPRING_DATASOURCE_PASSWORD: password
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      db_backend:
        condition: service_healthy
      db_auth:
        condition: service_healthy
    restart: unless-stopped

volumes:
  db_auth:
  pg_data: