services:
  db_auth:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres_auth
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - db_auth:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_auth"]
      interval: 5s
      timeout: 5s
      retries: 5
  db_backend:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres_backend
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - pg_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_backend"]
      interval: 5s
      timeout: 5s
      retries: 5
  # removed OCR service temporarily due to sudden rise in library population in requirements.txt
  # ocr:
  #   build:
  #     context: ../ocr
  #   ports:
  #     - "8000:8000"
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway" # T_T Please return backend to Docker pleeease, we can make it work, I hate using host.docker.internal T_T
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
  #     interval: 10s
  #     timeout: 3s
  #     retries: 5
  #     start_period: 10s

volumes:
  db_auth:
  pg_data: